h1 {
  font-family: 'Ano',Arial, sans-serif;
  font-size: 60px;
  font-weight: 900;
  word-spacing: 10px;
}
.container-fluid{
  background-image: url('../images/background-desktop.png');
  background-size: cover;
  padding-bottom: 92px;
}

.filterable-products-block--header {
  text-align: center;
}
.filterable-products-block--header  h1{
  color: #ffffff;
  font-family: 'Dancing Script';
  font-size: 84px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filterable-products-block--header p {
  color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-selector-container{
  justify-content: center;
}

.filter-selector-container-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 792px;
  width: auto;
}

.filter-selector-container fieldset{
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 792px;
  width: 792px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  border-radius: 16px;
}
.filter-selector-container legend{
  color: #FFF;
  text-align: center;
  font-family: Clan OT, arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 475;
  line-height: normal;
  letter-spacing: 0.016px;
}
.filter-selector-container fieldset div{
  display: flex;
  gap: 8px;
  width: -webkit-fill-available;
  width: fill-available;
  width: -moz-available;
}
.filter-selector-container fieldset div div{
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
}

.filter-selector-container fieldset div div .label-option{
  height: auto;
  width: -webkit-fill-available;
  width: fill-available;
  width: -moz-available;
}

.filter-selector-container button{
  display: flex;
  height: 44px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--GrayAlt, #F5F5F5);
  border: none;
}
.filter-selector-container .go-back-button{
  display: flex;
  height: 44px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--GrayAlt, #F5F5F5);
  background: none;
  color: #F5F5F5;
}

.filter-selector-container fieldset .label-option{
  display: flex;
  height: 128px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  background: var(--GrayAlt, #F5F5F5);
  width: 100px;
}

.label-option span{
  color: var(--siman-rojo, #A83338);
  /* H5 ClanOT Medium 24 */
  font-family: Clan OT, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filter-selector-container fieldset input[type="radio"]:checked+label{
  border-radius: 8px;
  border: 1px solid var(--siman-rojo-light, #EF3742);
  background: var(--GrayAlt, #F5F5F5);
  box-shadow: 0px 4px 4px 0px rgba(168, 51, 56, 0.08), 0px 0px 32px 0px rgba(239, 55, 66, 0.08), 0px 16px 16px 0px rgba(239, 55, 66, 0.16);
}

.filter-selector-container__controlers{
  max-width: 792px;
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  width: fill-available;
  width: -moz-available;
}

.filterable-products-block--subheader {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 60px;
  display: flex;
  font-family: 'Ano',Arial, sans-serif;
}

.filterable-products-block--subheader-wrapper {
  flex-grow: 1;
  width: 0;
}

legend {
  font-family: 'Ano';
  font-weight: 900;
  display: block;
  margin-left: 0;
  padding-bottom: 0;
  color: black;
  font-size: 0.9rem;
}

/* .label-option {
  display: inline-block;
  font-family: 'Ano';
  font-weight: 900;
  color: #c7c7c7;
  white-space: nowrap;
  cursor: pointer;
  line-height: 25px;
  border-bottom: 1px solid;
  padding: 1px 10px 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
} */

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: black;
}

label:hover {
  color: black;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  display: block;
}

.hovereffect span {
  font-family: 'Ano';
  font-weight: 900;
  color: white;
  background-color: black;
  padding-left: 15px;
  padding-right: 5px;
  font-size: 24px;
  display: none;
  word-spacing: 100vw;
  line-height: 0.2;
  text-transform: uppercase;
}

.hovereffect:hover span {
  font-family: 'Ano';
  font-weight: 900;
  color: white;
  background-color: black;
  padding-left: 15px;
  font-size: 24px;
  display: initial;
  word-spacing: 100vw;
  line-height: 1;
  text-transform: uppercase;
}

.skincontainer {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.light {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: rgb(243,234,230);
  border-radius: 50%;
}

.medium {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: rgb(234,214,200);
  border-radius: 50%;
}

.dark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: rgb(174,120,95);
  border-radius: 50%;
}


/*estilos para las cards*/

.gallery{
	display: grid;
	gap: .5em;
	grid-auto-flow: dense;
	grid-auto-rows: 21rem;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  place-items: center;
}

.card{
	overflow: hidden;
	background: #fff;
	color: #333;
  border-radius: 5px!important;
  padding: 1px solid #dedede;
  max-width: 270px;
  width: 220px;
  height: 325px;
  padding: 1em .5rem;
  box-sizing: border-box;
  margin: auto;
  border: none;

}

.card:hover{
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 16px 0px rgba(5, 28, 44, 0.08), 0px 2px 2px 0px rgba(5, 28, 44, 0.04);
}
.card h5{
  display: -webkit-box; /* para compatibilidad con navegadores basados en WebKit */
  -webkit-line-clamp: 2; /* número máximo de líneas a mostrar */
  -webkit-box-orient: vertical; /* orientación del contenido */
  overflow: hidden; /* oculta el texto que se desborda del contenedor */
  text-overflow: ellipsis; /* agrega puntos suspensivos al final del texto truncado */
}
.card-price{
  color: var(--siman-rojo, #A83338);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: 0.1px;
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-auto-rows: 23rem;
  }
}
.featured{
	grid-column: span 2;
}
.card-badge{
  color: #fff!important;
  font-size: .875rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  width: 38px;
  background-color: #a83338;
  padding: 5px;
  border-radius: 5px;
  align-self: start;
}
.card-img-top{
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .card {
    width: 260px;
    height: 350px;
  }
}

.card img {
  width: 160px;
  height: 160px;
}
@media screen and (max-width: 768px) {
  .card img {
    width: 170px;
    height: 200px;
  }
}

.card a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.card .card-body p, .card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  text-align: left;
}
.card-title {
  font-size: 1rem;
  color: gray;
  line-height: .9;
}

@media screen and (max-width: 800px) {
  .card-body {
    padding: 1rem 1rem.0rem 1rem;
  }
}

@media screen and (max-width: 800px){
  .container-fluid{
    background-image: url('https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/6400fcfc-3807-4b5d-8424-09cce2e57ea9___4dcb744d0bd3f800df0c5b8b1ac0bcc0.png');

  }
  .filterable-products-block--header h1, .filterable-products-block--header p {
    font-size: 48px;
  }
  .filter-selector-container fieldset {
    width: auto;
    min-width: 300px;
  }
  .filter-selector-container fieldset div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;   
  }
  .filter-selector-container fieldset .label-option {
    height: 65px;
    width: auto;
  }
  .filter-selector-container-col-mobile{
    display: flex !important;
    flex-direction: column;
  }
  .filter-selector-container fieldset .filter-selector-container-col-mobile .label-option {
    height: 75px ;
    padding: 12px;
    width: auto;
  }
  .filter-selector-container-col-mobile-category{
    display: flex !important;
    flex-direction: column;
  }
  .filter-selector-container-col-mobile-category div{ 
    display: flex !important;
    flex-direction: column;
    max-width: 100% !important;
  }
  .filter-selector-container-col-mobile-category label{
    height: 75px ;
    padding: 12px;
    width: auto;
  }
}